*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    /* overflow:visible; */
}
.carousel-item img{
    width: 100%;
    height: 90vh;
    overflow: auto;
    
}
/* .services .row>*{
    padding-right: 0;
    padding-left: 0;
}
*{
    box-sizing: border-box;
} */
html,body{
    padding: 0;
    margin: 0;
    background-color: rgb(9, 203, 252);
    border: 2px solid rgb(17, 0, 255);
}
#navbar-brand{
    width: 7.5rem;
    margin: auto;
    padding:0;
    font-size: 1.5rem;
    transition-duration: .1s;
    text-align: center;
    animation: spin .5s linear;
    
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.nav-item{
    justify-content: center;
}
.nav-link{
    width: 50%;
    margin: auto;
   text-align: center;
   font-size: 1.5em;
   font-weight: bolder;
   transition-duration:1s;
   overflow: auto;
}

#dropdown-menu{
    background-color:rgb(9, 103, 245);
    border: 2px solid blueviolet;
    border-radius: 3vh;
    color: black;
    font-weight: 500;

}

.figure-content{
       margin: 0 auto;
       width: 60%;
       box-shadow: 0 15px 55px rgb(121, 213, 219);
       margin-bottom: 30px;
       border: 2px solid goldenrod;
       border-radius: 1vh;
       transition-duration:0.7s;
       
}
.figure-content:hover{
    width: 85%;
    height: auto; 
}

.aboutus-content{
    margin: 0 auto;
    width: 300rem;
    font-size: 1.5vh;
    text-align: center;
}

div.container-Services{
    /* display: block; */
       margin: 0 auto;
       width: 80%;
       text-align: center;
       justify-content: center;
       cursor: pointer;
       box-shadow: 0 15px 15px rgb(17, 17, 17);
       
       margin-bottom: 30px;
       opacity: 0.8;
       transition-duration: .1s;
       background-color: rgb(141, 238, 245);
       border-radius: 5vh;
    }

div.container-Services:hover{
    opacity: 1;
    background-color: rgb(4, 250, 176);
    border: 4px solid rgb(70, 235, 235);
}
    
#my-jrny{
    opacity: 0.9;
    font-size: 2.2vh;
    background-color: rgb(116, 223, 250);
    transition-duration: .1s;
}
#my-jrny:hover{
    opacity: 1;
    font-size: 3vh;
    border: 2px solid rgb(6, 191, 247);
    border-radius: 10px;
    /* background-color: rgb(248, 198, 151); */
}

.feedback{
    display: block;
    width: 80vw;
    background-color: rgb(36, 186, 212);
    margin: auto;
    overflow: hidden;
    box-shadow: 0 15px 15px black;
    border: 2px solid green;
    border-radius: 10px;
}

.feedbackhead{
    display: block;
    font-size: 3.5vh;
    font-weight: bold;
    width: 50vw;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    
}

.feedbackbox{
    display: block;
    width: 60vw;
    font-size: 2.5vh;
    font-weight: bolder;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.addfeedback{
          display: block;
          width: 10vw;
          border-radius: 10px;
          overflow: auto;
          margin: auto;
          text-align: center;
          margin-top: 10px;
          margin-bottom: 10px;
          background-color: aquamarine;
          color: black;
          font-weight: bold;
}

.addfeedback:hover{
    background-color: black;
    color: greenyellow;
}

marquee{
    background-color: aquamarine;
}


/* responsiveness */
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }